@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.size-a4 {
  width: 210mm;
  min-height: 297mm;
}

.size-f4 {
  width: 215mm;
  min-height: 330mm;
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  .no-print {
    display: none !important;
  }
  @page {
    margin: 1.5cm;
  }
}
